## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/tamir/Desktop/Class_Folder/Assignment/Assignment_6/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Elizabeth,ZA,-33.9180,25.5701,57.49,76,0,17.27,clear sky
1,1,Albany,US,42.6001,-73.9662,80.58,58,27,10.45,scattered clouds
2,2,Hobart,AU,-42.8794,147.3294,52.27,95,75,0.00,broken clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,81.95,74,14,8.93,few clouds
4,4,Faanui,PF,-16.4833,-151.7500,76.23,81,33,9.69,moderate rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is your desired minimum temperature for your trip? "))

What is your desired minimum temperature for your trip? 30

In [6]:
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired maximum temperature for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Elizabeth,ZA,-33.9180,25.5701,57.49,76,0,17.27,clear sky
1,1,Albany,US,42.6001,-73.9662,80.58,58,27,10.45,scattered clouds
2,2,Hobart,AU,-42.8794,147.3294,52.27,95,75,0.00,broken clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,81.95,74,14,8.93,few clouds
4,4,Faanui,PF,-16.4833,-151.7500,76.23,81,33,9.69,moderate rain
5,5,Gaya,IN,24.7833,85.0000,81.97,76,89,7.78,overcast clouds
6,6,Acarau,BR,-2.8856,-40.1200,78.40,76,50,16.58,scattered clouds
7,7,Cape Town,ZA,-33.9258,18.4232,59.38,72,0,5.01,clear sky
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,71.56,83,0,13.80,clear sky
9,9,Kodiak,US,57.7900,-152.4072,57.79,71,98,1.57,overcast clouds
10,10,Bengkulu,ID,-3.8004,102.2655,72.64,85,100,3.51,light rain
11,11,Rikitea,PF,-23.1203,-134.9692,75.70,72,68,15.66,broken clouds
12,12,Sao Felix Do Xingu,BR,-6.6447,-51.9950,80.33,42,36,0.65,scattered clouds
13,13,Punta Arenas,CL,-53.1500,-70.9167,35.71,60,0,13.80,clear sky
14,14,Morehead,US,37.2711,-87.1764,85.98,77,40,4.61,scattered clouds
15,15,Ushuaia,AR,-54.8000,-68.3000,33.46,86,40,28.77,light snow
16,16,Gilgit,PK,35.9221,74.3087,80.51,68,52,3.67,broken clouds
17,17,Tiksi,RU,71.6872,128.8694,50.29,83,48,2.17,scattered clouds
18,18,Huanren,CN,41.2647,125.3667,72.77,93,56,2.10,broken clouds
19,19,Clyde River,CA,70.4692,-68.5914,43.03,87,75,3.44,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Elizabeth,ZA,-33.9180,25.5701,57.49,76,0,17.27,clear sky
1,1,Albany,US,42.6001,-73.9662,80.58,58,27,10.45,scattered clouds
2,2,Hobart,AU,-42.8794,147.3294,52.27,95,75,0.00,broken clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,81.95,74,14,8.93,few clouds
4,4,Faanui,PF,-16.4833,-151.7500,76.23,81,33,9.69,moderate rain
...,...,...,...,...,...,...,...,...,...,...
684,684,Koraput,IN,18.8167,82.7167,70.16,93,100,3.18,overcast clouds
685,685,Janesville,US,42.6828,-89.0187,77.36,48,75,6.91,broken clouds
686,686,Benjamin Constant,BR,-4.3831,-70.0311,78.93,88,40,3.44,scattered clouds
687,687,Jevargi,IN,17.0167,76.7667,75.74,84,100,12.28,moderate rain
688,688,Ingham,US,42.6000,-84.3833,75.15,53,40,8.05,scattered clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Elizabeth,ZA,57.49,clear sky,-33.9180,25.5701,
1,Albany,US,80.58,scattered clouds,42.6001,-73.9662,
2,Hobart,AU,52.27,broken clouds,-42.8794,147.3294,
3,Hithadhoo,MV,81.95,few clouds,-0.6000,73.0833,
4,Faanui,PF,76.23,moderate rain,-16.4833,-151.7500,
5,Gaya,IN,81.97,overcast clouds,24.7833,85.0000,
6,Acarau,BR,78.40,scattered clouds,-2.8856,-40.1200,
7,Cape Town,ZA,59.38,clear sky,-33.9258,18.4232,
8,Arraial Do Cabo,BR,71.56,clear sky,-22.9661,-42.0278,
9,Kodiak,US,57.79,overcast clouds,57.7900,-152.4072,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Elizabeth,ZA,57.49,clear sky,-33.9180,25.5701,39 On Nile Guest House
2,Hobart,AU,52.27,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
3,Hithadhoo,MV,81.95,few clouds,-0.6000,73.0833,Scoop Guest House
4,Faanui,PF,76.23,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
5,Gaya,IN,81.97,overcast clouds,24.7833,85.0000,Hotel Viraat Inn Gaya

In [14]:
# 8a. Create the output File (CSV)

output_data_file = "//Users/tamir/Desktop/Class_Folder/Assignment/Assignment_6/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))